.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: aqua;
}

.heading {
  margin-top: 0;
  padding: 5px;
  background-color: #4338ca;
  color: white;
}

.input {
  width: 60%;
  height: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}
footer {
  margin-top: 20rem;
}

.social {
  padding: 2px;
  background-color: #4338ca;
  color: white;
}
.social:hover {
  color: #191f42;
}
