.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: aqua;
}

.heading {
  margin-top: 20px;
  padding: 10px;
  background-color: #4338ca;
  color: white;
}
span {
  display: inline-block;
  margin: 0.25rem;
}
.heading2 {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #4338ca;
  color: white;
  width: 10rem;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}

.input:focus {
  outline: none;
}

.input {
  border: none;
  width: 50%;
  height: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}
footer {
  width: 100%;
  text-align: center;
}

.social {
  padding: 2px;
  font-weight: bolder;
  background-color: #4338ca;
  color: white;
}
.social:hover {
  color: black;
}

.space {
  margin-bottom: 25px;
}
